/* Menu */
.menu__item a::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -2px;
	width: 100%;
	height: 2px;
	background-color: var(--link-hover-altrocontraste);
	transform: scaleX(0);
	transition: transform 0.2s;
	transform-origin: center;
}

.menu__item a:hover::after {
	transform: scaleX(1);
}

/* Title */
.title__network__item a::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -2px;
	width: 100%;
	height: 2px;
	background-color: var(--link-oscuro-hover);
	transform: scaleX(0);
	transition: transform 0.2s;
	transform-origin: center;
}

.title__network__item a:hover::after {
	transform: scaleX(1);
}

/* Skills & Hobbies */
[class$="__single-box"] {
	transform: scale(1);
  	transition: transform 0.2s ease;
}

[class$="__single-box"]:hover  {
	transform: translateY(-10px);
}

[class$="__single-box"] .item-icon {
	transition: filter 0.2s ease;
}

[class$="__single-box"]:hover .item-icon{
	filter: var(--relleno-icono-hover);
}

/* Formacion */
section.academic .academic__box-img:hover img {
	transform: scale(1.1);
}

section.academic .academic__box-img img {
	transition: transform 0.2s ease;
}

/* Transicion para botones */
[class*="__boton-"] {
	transition: background-color 0.2s ease;
}
[class*="__boton-secundario"]:hover {
	background-color: var(--color-btn-secundario-hover);
}
[class*="__boton-primario"]:hover {
	background-color: var(--color-btn-primario-hover);
}