
/* Transicion para botones */
[class*="__boton-"] {
	transition: background-color 0.2s ease;
}
[class*="__boton-secundario"]:hover {
	background-color: var(--color-btn-secundario-hover);
}
[class*="__boton-primario"]:hover {
	background-color: var(--color-btn-primario-hover);
}