/*CSS Reset / Normalize*/

:root {
	--fondo-negro: #212529;
	--fondo-azul-oscuro: #173b6c;
	--fondo-azul-claro: #f5f8fd;
	--fondo-blanco: #ffffff;
	--titulo-alterenativo: #173b6c;
	--link-hover-altrocontraste: #297af5;
	--link-hover: #0a58ca;
	--link-oscuro-hover: #464646;
	--borde-cenizo: #2c2f3f;
	--relleno-firma: invert(17%) sepia(60%) saturate(1600%) hue-rotate(192deg) brightness(91%) contrast(91%);
	--relleno-icono: grayscale(100%);
	--relleno-icono-hover: grayscale(0%);
	--fuente-gris-claro: #464646;
	--color-box: #ffffff;
	--btn-disabled-fuente:#212529;
	--btn-disabled-borde: #a4a4a4;
	--btn-disabled-fondo: #a4a4a4;
	--color-btn-primario: #297af5;
	--color-btn-primario-hover: #0061c9;
	--color-btn-secundario: #ffffff;
	--color-btn-secundario-hover: #f4f4f4;
	--color-borde-onblur: #c8c8c8;
	--color-borde-onfocus: #297af5;
	--menu__altura-PC: 6rem;
	--menu__altura-tablet: 4rem;
	--menu__altura-mobile: 4rem;
	--font-weigth-input: 300;
	--font-size-input-label: 20px;
	--laber-input-color: #464646a8;
	--warning-color: #df2525;
}

* {
	box-sizing: border-box;
	font-family: "Raleway";
	margin: 0;
	padding: 0;
	line-height: 1;
	color: var(--fuente-gris-claro);
}
html {
	scroll-padding-top: 6rem; /* Altura del encabezado */
	scroll-behavior: smooth;
}
body {
	scroll-snap-type: y proximity;
}
ol,
ul,
li {
	list-style: none;
}
a {
	position: relative; /* asigna animacion al link */
	text-decoration: none;
}
img,
video {
	max-width: 100%;
	height: auto;
}
.container--with-75-margin {
	width: 75%;
	margin: 0 auto;
}

.container--with-65-margin {
	width: 65%;
	height: auto;
	margin: 0 auto;
}
.boton {
	display: flex;
	padding: 1rem;
	border-radius: 10px;
	border: 1px solid var(--color-btn-primario);
	font-weight: bold;
}

.boton:disabled{
	color: var(--btn-disabled-fuente);
	background: var(--btn-disabled-fondo);
	border: 1px solid var(--btn-disabled-borde);
}

[class*="__boton-secundario"] {
	color: var(--color-btn-primario);
}
[class*="__boton-primario"] {
	color: var(--color-btn-secundario);
	background: var(--color-btn-primario);
}

/*Sección Menu*/

header.menu {
	display: flex;
	width: 100%;
	height: var(--menu__altura-PC);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	background: var(--fondo-negro);
	box-shadow: 0px 0px 6px 4px rgba(0, 0, 0, 0.35);
}

.menu * {
	background-color: transparent;
	color: var(--fondo-blanco);
}

.menu__content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 1em;
}

.menu__logo {
	display: flex;
	align-items: center;
	gap: 0.3125rem;
	height: 2rem;
}

.menu__logo img {
	width: 1.9rem;
}

.menu__list {
	display: flex;
	align-items: center;
}

.menu__title {
	font-size: 1.2em;
	font-weight: 900;
}

.menu__item {
	font-weight: 400;
	padding: 0.5rem;
}

.item__contacto {
	font-weight: 700;
}

section.menu__gap {
	height: var(--menu__altura-PC);
	width: 100%;
}

/*Sección Title*/

section.title {
	padding: 3rem 0;
}

.title__content {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}

.title__profile {
	order: 1;
	border-radius: 50%; /* Hace que la imagen se vea circular */
	border: 10px solid var(--borde-cenizo); /* borde circular */
	display: inline-block; /* Permite que el borde se ajuste correctamente */
	width: 30%;
}

.title__container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 1.5rem;
}

.title__bio {
	width: 100%;
	font-weight: 700;
	font-size: 2.4em;
	line-height: 1.3;
	color: var(--titulo-alterenativo);
}

.title__subsection {
	width: 100%;
	font-weight: 400;
	font-size: 1.15em;
	line-height: 1.75rem;
	text-align: justify;
}

.title__network {
	font-size: 1.3em;
	display: flex;
	gap: 2rem;
}

/*Sección About*/

section.about {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: var(--fondo-azul-claro);
}

section.about * {
	background-color: transparent;
}

.about__container {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: flex-start;
	gap: 1rem;
	padding: 4rem 0;
}

.about__title {
	color: var(--titulo-alterenativo);
	font-style: normal;
	font-weight: 700;
	font-size: 2em;
	line-height: 2.375rem;
}

.about__paragraph {
	text-align: justify;
	font-style: italic;
	font-weight: 400;
	font-size: 1.15em;
	line-height: 1.5rem;
}

.signature {
	filter: var(--relleno-firma);
}

/*Sección Skills & Hobbies*/

section.skills-hobbies {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
	gap: 4rem;
	padding: 4rem 0;
}

section.hobbies,
section.skills {
	display: flex;
	flex-direction: column;
	gap: 3rem;
}

.skills__title,
.hobbies__title {
	font-style: normal;
	font-weight: 700;
	font-size: 2em;
	line-height: 2.375rem;
	text-align: center;
	color: var(--titulo-alterenativo);
}

[class$="__container-box"] {
	display: flex;
	gap: 2rem;
	justify-content: center;
	flex-wrap: wrap;
}

[class$="__single-box"] {
	flex: 0 0 18%;
	border-radius: 5px;
	box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.35);
}

[class$="__single-box"] * {
	background-color: transparent;
}

[class$="__single-box"] ul {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 10.875rem;
	padding: 1rem;
	gap: 0.5rem;
}

[class$="__item-name"] {
	font-style: normal;
	font-weight: 700;
	font-size: 1em;
	line-height: 1.1875rem;
}

.item-icon {
	filter: var(--relleno-icono);
}

/* Experiencia Académica*/

section.academic {
	min-height: 100vh;
	background-color: var(--fondo-azul-claro);
}

section.academic * {
	background-color: transparent;
}

.academic__container {
	display: flex;
	flex-direction: column;
	gap: 3rem;
	padding: 4rem 0;
}

.academic__title {
	color: var(--titulo-alterenativo);
	font-style: normal;
	font-weight: 700;
	font-size: 2em;
	line-height: 2.375rem;
	align-self: center;
}

.academic__content-courses {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 1.5rem;
}

.academic__box {
	min-width: 326px;
	flex: 1 0 calc(33% - 1.5rem);
}

.academic__box:nth-child(1) {
	display: flex;
	justify-content: center;
	flex: 0 0 100%;
}

.academic__box:nth-child(1) .academic__box-list {
	flex: 0 0 calc(50% - 5px);
}

.academic__box .academic__box-list {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 1rem;
	background-color: var(--color-box);
	border-radius: 5px;
	box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.35);
	height: 100%;
}

section.academic .academic__box-img {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.625rem;
	background: var(--color-box);
	height: 12.625rem;
}

.academic__box-img img {
	max-height: 190px;
	aspect-ratio: 2/1;
}

.academic__box-title {
	font-size: 1.375em;
	font-weight: 700;
}

.academic__box-subtitle {
	font-size: 1em;
	font-weight: 500;
}

/* experiencia*/

section.experience {
	display: flex;
	flex-direction: column;
	padding: 4rem 0;
	gap: 3rem;
}

.experience__container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 2rem;
}

.experience__title {
	font-style: normal;
	font-weight: 700;
	font-size: 2em;
	line-height: 2.375rem;
	text-align: center;
	color: var(--titulo-alterenativo);
}

.experience__box {
	min-width: 326px;
	flex: 1 0 calc(50% - 1.5rem);
	border-radius: 10px;
	box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.35);
	/* height: 360px; */
}

.experience__box-list {
	height: 390px;
	display: flex;
	flex-direction: column;
}

.experience__box-img {
	overflow: hidden;
	height: 240px;
}

.experience__img {
	object-fit: cover;
	object-position: top;
	width: 100%;
	border-radius: 10px 10px 0 0;
}

.experience__box-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 1rem 2rem;
	height: calc(100% - 240px);
}

.experience__info__title {
	font-size: 1.325em;
	font-weight: 700;
}

.experience__text {
	font-size: 1em;
	font-weight: 500;
}

.experience__description {
	display: flex;
	justify-content: space-evenly;
}

/*Contacto*/

section.contacto {
	display: flex;
	justify-content: center;
	padding: 4rem 0;
	background-color: var(--fondo-azul-claro);
}

/* Solo afecta el Bg de los hijos directos */
section.contacto > * {
	background-color: transparent;
}

.contacto__container {
	display: flex;
	align-items: center;
	gap: 2rem;
	min-height: 100%;
}

.contacto__content-side {
	position: relative;
	width: 50%;
	height: 100%;
	background-image: url("../img/contact-img.jpg");
	background-size: cover;
	background-position: center;
	box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.35);
}

.contacto__form-content {
	display: flex;
	flex-direction: column;
}

.contacto__title {
	font-size: 2em;
	font-weight: 700;
	margin-bottom: 0.5rem;
	color: var(--titulo-alterenativo);
}

.contacto__subtext {
	font-size: 1em;
	line-height: 1.5rem;
	margin-bottom: 2rem;
}

.contacto__form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 1.5rem;
	flex: 1 0 0;
}

/* Estilos para campos de contacto */

.contacto__input-container {
	font-weight: var(--font-weigth-input);
	position: relative;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	width: 100%;
	min-height: 5.175rem;
	&:has(.contacto__textarea) { /* usando estilo anidado para acceder a la misma clase pero bajo la condicion "has" */
		min-height: 14.375rem;
	}
}

.contacto__input {
	box-sizing: border-box;
	background-color: var(--color-box);
	min-height: 3.5rem;
	padding: 1.875rem 0.5rem 0.5rem;
	font-size: 1em;
	/* line-height: 1.25rem; */
	border: none;
	outline: none;
	border-radius: 4px;
	border-bottom: 2px solid var(--color-borde-onblur);
}

.contacto__input-label {
	position: absolute;
	top: 1.25rem; /* posicion del placeholder dentro del input en el eje Y */
	left: 0.5rem; /* posicion del placeholder dentro del input en el eje X */
	font-size: var(--font-size-input-label);
	color: var(--laber-input-color);
}

/* Estilo validaciones de campos */
/* .contacto__input-container--invalid {
	margin-bottom: 0.5rem;
} */

.contacto__input-container--invalid > .contacto__input {
	border: 1px solid var(--warning-color);
	border-radius: 7px;
}

.contacto__input-container--invalid > .contacto__input-label,
.contacto__input-container--invalid > .contacto__contador {
	color: var(--warning-color);
}

.contacto__input-message-error {
	display: none;
}

.contacto__input-container--invalid .contacto__input-message-error {
	color: var(--warning-color);
	display: block;
	margin-top: 0.5rem; /* distancia del span error al input */
	padding-left: 0.5rem;
}

.contacto__form .contacto__textarea {
	min-height: 11.25rem;
	resize: none;
	margin-top: 0.5rem;
}

.contacto__contador {
	text-align: right;
}

span.contacto__contador ~ textarea.contacto__textarea {
	/* position: inherit; */
	top: 1rem; /* posicion del placeholder dentro del input en el eje Y */
	padding: 1.7rem 0.5rem 0.5rem;
}
span.contacto__contador ~ label.contacto__input-label {
	top: 1.8125rem; /* posicion del placeholder dentro del input en el eje Y */
}

/*footeer*/

section.footer {
	display: flex;
	padding: 2rem;
	justify-content: center;
	background-color: var(--fondo-negro);
	text-align: center;
}

.footer__content > p {
	color: var(--fondo-blanco);
	font-size: 1em;
	font-weight: 400;
	line-height: 1.2em;
}

/* Vistas Responsive */
/* Resoluciones medianas */
@media (max-width: 1200px) {
	.academic__box:nth-child(1) .academic__box-list {
		flex: 1;
	}
}

/*Tablet*/
@media (max-width: 768px) {
	/* contenedores */
	.container--with-75-margin,
	.container--with-65-margin {
		width: 100%;
		margin: 0;
		padding: 0;
	}

	/* Menú */
	header.menu {
		height: var(--menu__altura-tablet);
		padding: 1rem 2rem;
	}

	.menu__content {
		flex: 1;
	}

	.menu__title {
		font-size: 16px;
		font-style: normal;
		font-weight: 700;
	}

	section.menu__gap {
		height: var(--menu__altura-tablet);
	}

	.menu__list li:not(.item__contacto) {
		display: none;
	}

	/*title*/
	section.title {
		padding: 2rem;
	}

	.title__bio {
		font-size: 22px;
	}

	.title__network {
		font-size: 16px;
	}

	.title__profile {
		width: 200px;
		border: none;
		box-shadow: 0px 0px 6px 4px rgba(0, 0, 0, 0.35); /* sombra */
	}

	/* About */
	section.about {
		padding: 2rem;
	}

	.about__container {
		flex: 1;
	}

	.about__title {
		font-size: 22px;
	}

	/*Skills & Hobbies*/
	section.skills-hobbies {
		padding: 2rem;
	}

	section.hobbies,
	section.skills {
		gap: 2rem;
	}

	[class$="__single-box"] {
		flex: 0 0 calc(33% - 2rem);
	}

	/*Formación Académica*/
	section.academic {
		padding: 2rem;
		gap: 2rem;
	}

	.academic__container {
		gap: 2rem;
	}

	/*Experiencia Profesional*/
	section.experience {
		padding: 2rem;
		gap: 2rem 1rem;
	}

	/* Contacto */
	section.contacto {
		padding: 2rem;
		gap: 2rem;
	}

	.contacto__content-side {
		display: none;
	}
}

/*Mobile*/
@media (max-width: 425px) {
	/* section {
	} */
	/*Menu*/
	
	/*Titulo*/
	section.title {
		padding: 2rem 1rem 1rem 1rem;
	}

	.title__content {
		flex-direction: column;
	}

	.title__profile {
		order: 0;
		width: 150px;
		align-self: flex-start;
	}

	.title__subsection {
		font-size: 1rem;
	}

	/*Sección sobre mi*/
	section.about {
		padding: 1rem;
	}

	.about__paragraph {
		font-size: 1rem;
	}

	/*Skills & Hobbies*/
	section.skills-hobbies {
		padding: 1rem;
		gap: 2rem;
	}

	[class$="__container-box"] {
		gap: 1rem;
	}

	[class$="__single-box"] {
		flex: 1 0 calc(50% - 1rem);
	}

	/*Formación Académica*/
	section.academic {
		padding: 1rem;
	}
	/*Experiencia Profesional*/
	section.experience {
		padding: 1rem;
	}

	/*Contacto*/
	section.contacto {
		padding: 1rem;
	}
	/*Footer*/
}
