/*CSS Reset / Normalize*/

:root {
	--cor-de-fundo: #f5f5f5;
	--fondo-negro: #212529;
	--fondo-azul-oscuro: #173b6c;
	--fondo-azul-claro: #f5f8fd;
	--fondo-blanco: #ffffff;
	--titulo-alterenativo: #173b6c;
	--link-hover-altrocontraste: #297AF5;
	--link-hover: #0a58ca;
	--link-oscuro-hover: #464646;
	--icon-hover: #297AF5;
	--borde-cenizo: #2c2f3f;
	--relleno-firma: invert(17%) sepia(60%) saturate(1600%) hue-rotate(192deg) brightness(91%) contrast(91%);
	--relleno-icono: grayscale(100%);
	--relleno-icono-hover: grayscale(0%);
	--color-fuente-menu: #ffffff;
	--color-fuente-footer: #ffffff;
	--color-fondo-academic: #eaf2fd;
	--color-fondo-contacto: #eaf2fd;
	--color-fuente: #464646;
	--color-box: #FFFFFF;
	--color-btn-primario: #297AF5;
	--color-btn-primario-hover: #0061c9;
	--color-btn-secundario: #FFFFFF;
	--color-btn-secundario-hover: #f4f4f4;
	--color-borde-focusout: #c8c8c8;
	--color-borde-focus: #297AF5;
}

* {
	box-sizing: border-box;
	font-family: "Raleway";
	margin: 0;
	padding: 0;
	line-height: 1;
	color: var(--color-fuente);
}
html {
	scroll-padding-top: 6rem; /* Altura del encabezado */
	scroll-behavior: smooth;
}
body {
	scroll-snap-type: y proximity;
}
ol,
ul,
li {
	list-style: none;
}
a {
	position: relative; /* asigna animacion al link */
	text-decoration: none;
}
img,video{
	max-width: 100%;
    height: auto;
}
.container--with-75-margin{
	width: 75%;
	margin: 0 auto;
}

.container--with-65-margin{
	width: 65%;
	height: auto;
	margin: 0 auto;
}
.boton{
	display: flex;
	padding: 1rem;
	border-radius: 10px;
	border: 1px solid var(--color-btn-primario);
	font-weight: bold;
}
[class*="__boton-secundario"] {
	color: var(--color-btn-primario);
}
[class*="__boton-primario"]{
	color: var(--color-btn-secundario);
	background: var(--color-btn-primario);
}

/*Sección Menu*/

header.menu {
	position: fixed;
	width: 100%;
	top: 0;
    left: 0;
	z-index: 10;
	background: var(--fondo-negro);
	box-shadow: 0px 0px 6px 4px rgba(0,0,0,0.35);
}

.menu *{
	background-color: transparent;
	color: var(--color-fuente-menu);
}

.menu__content{
	height: 6rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 1em;
}

.menu__logo {
	display: flex;
	align-items: center;
	gap: .3125rem;
	height: 2rem;
}

.menu__logo img{
	width: 1.9rem;
}

.menu__list {
	display: flex;
	align-items: center;
}

.menu__title {
	font-size: 1.2em;
	font-weight: 900;
}

.menu__item{
	font-weight: 400;
	padding: 0.5rem;
}

.item__contacto{
	font-weight: 700;
}

section.relleno-menu{
	height: 6rem;
	width: 100%;
}

/*Sección Title*/

section.title {
	padding: 4rem 0;
}

.title__content {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}

.title__profile {
	order: 1;
	border-radius: 50%; /* Hace que la imagen se vea circular */
  	border: 10px solid var(--borde-cenizo); /* borde circular */
	/* box-shadow: 0px 0px 6px 4px rgba(0, 0, 0, 0.35); */ /* sombra */
  	display: inline-block; /* Permite que el borde se ajuste correctamente */
	width: 18rem;
}

.title__container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 1.5rem;
}

.title__bio {
	width: 100%;
	font-weight: 700;
	font-size: 2.4em;
	line-height: 1.3;
	color: var(--titulo-alterenativo);
}

.title__subsection {
	width: 100%;
	font-weight: 400;
	font-size: 1.15em;
	line-height: 1.75em;
	text-align: justify;
}

.title__network {
	display: flex;
	gap: 2rem;
}

/*Sección About*/

section.about {
	display: flex;
	height: 45vh;
	flex-direction: column;
	justify-content: center;
	background-color: var(--fondo-azul-claro);
}

section.about * {
	background-color: transparent;
}

.about__container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 1rem;
	padding: 4rem 0;
}

.about__title {
	color: var(--titulo-alterenativo);
	font-style: normal;
	font-weight: 700;
	font-size: 2em;
	line-height: 2.375rem;
}

.about__paragraph {
	text-align: justify;
	font-style: italic;
	font-weight: 400;
	font-size: 1em;
	line-height: 1.5rem;
}

.signature{
	filter: var(--relleno-firma);
}

/*Sección Skills & Hobbies*/

section.skills-hobbies {
	display: flex;
	flex-direction: column;
	justify-content:space-evenly;
	min-height: 100vh;
	gap: 4rem;
	padding: 4rem 0;
}

section.hobbies, section.skills {
	display: flex;
	flex-direction: column;
	gap: 3rem;
}

.skills__title,.hobbies__title {
	font-style: normal;
	font-weight: 700;
	font-size: 2em;
	line-height: 2.375rem;
	text-align: center;
	color: var(--titulo-alterenativo);
}

[class$="__container-box"] {
	display: flex;
	gap: 2rem;
	justify-content: center;
	flex-wrap: wrap;
}

[class$="__single-box"] {
	flex: 0 0 18%;
	border-radius: 5px;
	box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.35);
}

[class$="__single-box"] * {
	background-color: transparent;
}

[class$="__single-box"] ul {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 10.875rem;
	padding: 1rem;
	gap: .5rem;
}

[class$="__item-name"] {
	font-style: normal;
	font-weight: 700;
	font-size: 1em;
	line-height: 1.1875rem;
}

.item-icon{
	filter: var(--relleno-icono);
}

/* Experiencia Académica*/

section.academic {
	min-height: calc(100vh - 6rem);
	background-color: var(--fondo-azul-claro);
}

section.academic *{
	background-color: transparent;
}

.academic__container{
	display: flex;
	flex-direction: column;
	gap: 3rem;
	padding: 4rem 0;
}

.academic__title{
	color: var(--titulo-alterenativo);
	font-style: normal;
	font-weight: 700;
	font-size: 2em;
	line-height: 2.375rem;
	align-self: center;
}

.academic__content-courses{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 1.5rem;
}

.academic__box {
	flex: 1 0 33%;
}

.academic__box:nth-child(1) {
	display: flex;
	justify-content: center;
	flex: 100%;
}

.academic__box .academic__box-list{
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 1rem;
	background-color:var(--color-box);
	border-radius: 5px;
	box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.35);
}

.academic__box:nth-child(1) .academic__box-list{
	flex-basis: calc(50% - 5px);
}

section.academic .academic__box-img{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: .625rem;
	background: var(--color-box);
	height: 12.625rem;
}

.academic__box-img img {
	max-height: 190px;
	aspect-ratio: 2/1;
}

.academic__box-title{
	font-size: 1.375em;
	font-weight: 700;
}

.academic__box-subtitle{
	font-size: 1em;
	font-weight: 500;
}

/* experiencia*/

section.experience {
	display: flex;
	flex-direction: column;
	padding: 4rem 0;
	gap: 3rem;
}

.experience__container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 2rem;
}

.experience__title{
	font-style: normal;
    font-weight: 700;
    font-size: 2em;
    line-height: 2.375rem;
	text-align: center;
	color: var(--titulo-alterenativo);
}

.experience__box{
	display: flex;
	flex-direction: column;
	flex: 0 0 32%;
	border-radius: 10px;
	box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.35);
}

.experience__img{
	object-fit: cover;
	object-position: top;
	width: 100%;
	height: 9.8rem;
	border-radius: 10px 10px 0 0;
}

.experience__box-info{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	padding: 1rem;
	flex: 1 0 0;
}

.experience__info__title{
	font-size: 1.325em;
	font-weight: 700;
}

.experience__text{
	font-size: 1em;
	font-weight: 500;
}

.experience__description{
	display: flex;
	gap: 1rem;
}

/*Contacto*/

section.contacto {
	display: flex;
	justify-content: center;
	padding: 4rem 0;
	background-color: var(--fondo-azul-claro);
}

/* Solo afecta el Bg de los hijos directos */
section.contacto > * {
	background-color: transparent;
}

.contacto__container{
	display: flex;
    align-items: center;
    gap: 2rem;
    min-height: calc(80vh - 8rem);
}

.contacto__content-side{
	position: relative;
	width: 40%;
	height: 95%; /* Altura del contenedor */
	background-image: url('../img/contact-img.jpg');
	background-size: cover;
	box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.35);
}

.contacto__form-content{
	display: flex;
	flex-direction: column;
}

.contacto__title{
	font-size: 2em;
	font-weight: 700;
	margin-bottom: .5rem;
	color: var(--titulo-alterenativo);
}

.contacto__subtext{
	font-size: 1em;
    line-height: 1.5rem;
	margin-bottom: 2rem;
}

.contacto__form{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 2rem;
	flex: 1 0 0;
}

.contacto__form .contacto__input{
	background-color: var(--color-box);
	width: 100%;
	min-height: calc(3rem + .5rem);
	padding: .5rem .75rem;
	font-size: 1em;
	line-height: 1.25rem;
	border: none;
	outline: none;
	border-radius: 4px;
	border-bottom: 2px solid var(--color-borde-focusout);
	transition: border-color 0.3s;
}

.contacto__form .contacto__input:focus {
	border-color: var(--color-borde-focus);
}

.input-field:not(:placeholder-shown) + .input-label {
	transform: translateY(-1.5rem);
	font-size: 0.8rem;
	opacity: 1;
}

.contacto__form  .contacto__textarea{
	min-height: 8.3125rem;
	resize: none;
}

/*footeer*/

section.footer {
	display: flex;
	padding: 2rem;
	justify-content: center;
	background-color: var(--fondo-negro);
	text-align: center;
}

.footer__content > p {
	color: var(--color-fuente-footer);
	font-size: 1em;
	font-weight: 400;
	line-height: 1.2em;
}

/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */

/*Tablet*/
@media (min-width: 768px) {
	/* Menú */

	/*title*/

	/*Skills*/

	/*Hobbies*/

	/*Formación Académica*/

	/*Experiencia Profesional*/
}

/*Mobile*/
@media (min-width: 425px) {
	/*Menu*/

	/*Titulo*/

	/*Sección sobre mi*/

	/*Skills*/

	/*Hobbies*/

	/*Formación Académica*/

	/*Experiencia Profesional*/

	/*Contacto*/

	/*Footer*/
}
